*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /* background: blue!important; */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
}
p {
    color: #f1f1f1;
}
@media (max-width: 700px) {
    p {
        background-color: red;
    }
}
